.card-title a {
  color: inherit;
}

.card-header a {
  color: #212529;
  text-decoration: underline;
}

.last-value {
  color: #212529;
}

.chart {
  height: 180px;
  width: 100%;
  display: block;
}

.header-link {
  display: block;
}
.header-link:hover {
  text-decoration: none;
}

.card-header .share-link {
  text-decoration: none;
}

.share-link svg:hover #twitter-icon {
  fill: #1DA1F2;
}

.share-link svg:hover #facebook-icon {
  fill: #3C5B9B;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .table-fixed thead {
    width: 97%;
  }
  .table-fixed tbody {
    height: 500px;
    overflow-y: auto;
    width: 100%;
  }
  .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
  }
  .table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .table-fixed thead {
    width: 97%;
  }
  .table-fixed tbody {
    height: 500px;
    overflow-y: auto;
    width: 100%;
  }
  .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
  }
  .table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
  }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .table-fixed thead {
    width: 97%;
  }
  .table-fixed tbody {
    height: 500px;
    overflow-y: auto;
    width: 100%;
  }
  .table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
  }
  .table-fixed tbody td, .table-fixed thead > tr> th {
    float: left;
    border-bottom-width: 0;
  }
}
